<div style="padding-bottom: 20%; background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');">
    <div class="footer" id="footer-contact" >
            <div class="row foot_row">
                <div class="col-lg-4 foot_col foot_logo">
                    <img src="Assets/enactus-kmv-logo-white-removebg.png"
                        style="align-content: center; width: 60%; height: 60%;">
                </div>

                <div class="col-lg-4 col-sm-12 foot_col">
                    <h3 class="font_3" style="font-size:25px; line-height:normal;"><span style="font-size:25px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FCCC34;">En</span><span
                                        style="color:#FFFFFF;">trepreneurial</span></span></span></span></h3>
                    <p class="font_8" style="font-size:15px; line-height:normal;"><span style="font-size:15px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FFFFFF;">Having the perspective
                                        to see an opportunity and the talent to create value from that
                                        opportunity.</span></span></span></span></p>

                    <h3 class="font_3" style="font-size:25px; line-height:normal;"><span style="font-size:25px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FCCC34;">Act</span><span
                                        style="color:#FFFFFF;">ion</span></span></span></span></h3>
                    <p class="font_8" style="font-size:15px; line-height:normal;"><span style="font-size:15px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FFFFFF;">The willingness to do
                                        something and the commitment to see it through even when the outcome is not
                                        guaranteed.</span></span></span></span></p>

                    <h3 class="font_3" style="font-size:25px; line-height:normal;"><span style="font-size:25px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span
                                        style="color:#FCCC34;">Us</span></span></span></span></h3>
                    <p class="font_8" style="font-size:15px; line-height:normal;"><span style="font-size:15px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FFFFFF;">A group of people who
                                        see themselves connected in some important way; individuals that are part of a
                                        greater whole.</span></span></span></span></p>
                </div>

                <div class="col-lg-4 col-sm-12 foot_col">
                    <h3 class="font_3" style="font-size:25px; line-height:normal;"><span style="font-size:25px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FCCC34;">Connect with
                                        us&nbsp;</span></span></span></span></h3>
                    <h3 class="font_3" style="font-size:15px; line-height:normal;"><span style="font-size:15px;"><span
                                style="font-family:avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;"><span
                                    style="letter-spacing:normal;"><span style="color:#FFFFFF;">Join the conversation
                                        and connect with<br />us on our social media handles</span></span></span></span>
                    </h3>

                    <br>

                    <a href="https://www.instagram.com/enactuskmv/?hl=en" class="link-light"><i
                            class="social-icon instagram fa-brands fa-instagram btn-outline-dark fa-3x "
                            style="color: #e11d74;"></i></a>
                    <a href="https://www.linkedin.com/company/enactuskmv/" class="link-light"><i
                            class="social-icon linkedin fa-brands fa-linkedin-in btn-outline-dark fa-3x "
                            style="color: #0077b5;"></i></a>
                    <a href="https://twitter.com/EnactusKmv?t=X4xTki5BLbphjMJ7H3W1Og&s=09" class="link-light"><i
                            class="social-icon twitter fa-brands fa-twitter btn-outline-dark fa-3x "
                            style="color: #00adb5;"></i></a>
                    <a href="https://youtube.com/@enactuskmv7238" class="link-light"><i
                            class="social-icon  youtube fa-brands fa-youtube btn-outline-dark fa-3x"
                            style="color: red;"></i></a>
                    <a href="mailto:enactuskmv@gmail.com" class="link-light"><i
                            class="social-icon mail fa-solid fa-envelope btn-outline-dark fa-3x"
                            style="color: #f3da35"></i></a>
                </div>
            </div>
    </div>
</div>