<%- include("partials/header.ejs") %>

    <body style="overflow-x: hidden; overflow-y:scroll;">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(47,46,46);">
            <div class="container-fluid">
                <a class="navbar-brand d-lg-none" href="#home" onclick="window.location.reload(true);"><img
                        src="/Assets/enactus-kmv-logo-white-removebg.png" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#myNavbarToggler7" aria-controls="myNavbarToggler7" aria-expanded="false"
                    aria-label="Toggle navigation" style="background-color: rgb(61, 60, 60);">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNavbarToggler7">
                    <ul class="navbar-nav mx-auto" style="padding-right: 3%;">

                        <li class="nav-item">
                            <a class="nav-link " style="color:#FFFFFF" href="/" id="homenav">HOME</a>
                        </li>

                        <div class="btn-group">
                            <li class="nav-item ">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                                        style="color:#FFFFFF" href="#" id="ourstorynav" aria-expanded="false">OUR
                                        PROJECTS</a>
                                    <ul class="dropdown-menu" aria-labelledby="ourstorynav">
                                        <li><a class="dropdown-item" href="/pehel">Project Pehel</a></li>
                                        <li><a class="dropdown-item" href="/sahaayta">Project Sahaayta</a></li>
                                    </ul>
                                </div>
                            </li>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" style="color:#FFFFFF" href="#ourstalls" id="achievementsnav">OUR
                                STALLS</a>
                        </li>

                        <a class="d-none d-lg-block logo" href="#home" onclick="window.location.reload(true);"
                            style="padding-left:0; margin:0px;"><img src="/Assets/enactus-kmv-logo-white-removebg.png"
                                width="100px"></a>

                        <!-- <li class="nav-item">
                    <a class="nav-link" style="color:#FFFFFF" href="#ourteam" id="ourprojectsnav">OUR TEAM</a>
                </li> -->

                        <li class="nav-item">
                            <a class="nav-link" style="color:#FFFFFF" href="#gallery" id="eventsnav">GALLERY</a>
                        </li>

                        <li>
                            <a class="nav-link" style="color:#FFFFFF" href="#footer-contact" id="contactnav">CONTACT</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link " style="color:#FFFFFF"
                                href="https://linktr.ee/enactus.kmv?fbclid=PAAaaNejiZ17t7jKyiIxkF-H0GXDxVfOEafQBIG1lfT5f7akgc8KxFnW3l9Hs">NATIONALS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navbar ends -->

        <!-- home section -->
        <div id="home" class="">
            <img src="/Assets/Welcome to.png" alt="" class="home-bg">
        </div>
        <!-- home section ends -->


        <!-- project section -->
        <div id="ourprojects" class="container-fluid setheightfit"
            style="background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');">
            <!-- projects sub-section -->
            <div style="display: flex; justify-content: space-between;">

                <!-- First Column -->
                <div style="flex-basis: 30%; padding: 0px;">
                    <img src="/Assets/project bg 1.jpg" alt="First Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 2.jpg" alt="Second Photo" style="width: 100%;">
                </div>

                <!-- Second Column -->
                <div
                    style="flex-basis: 30%; text-align: center; padding-top:10%; display: flex; align-items: center; flex-direction: column;">
                    <p class="chngtopop projectsp"><b>Enactus KMV</b> strives to reach new milestones to engender an
                        environment that is more potent and thus aims to <b>create an impact and uplift
                            communities.</b><br></p>
                    <p class="chngtopop projectsp"><br> With our business models, we <b>help the community in optimal
                            utilization of their skills
                            and resources.</b><br></p>
                    <p class="chngtopop projectsp"><br>Our projects aim at <b>empowering people in need.</b><br></p>
                    <p class="chngtopop projectsp"><br> We
                        use business and economic concepts and an entrepreneurial approach to improve the <b>quality of
                            life</b> and <b>standard of living</b> of the <b>diverse communities</b> that we work with.
                    </p>
                </div>

                <!-- Third Column -->
                <div style="flex-basis: 30%; padding: 0px;">
                    <img src="/Assets/project bg 3.JPG" alt="First Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 4.jpg" alt="Second Photo" style="width: 100%;">
                </div>

            </div>
        </div>
        <!-- projects sub-section ends -->


        <!-- our stalls -->
        <div id="ourstalls" class="container-fluid setheightfit"
            style="background-image: url('https://img.myloview.com/posters/white-natural-texture-of-knitted-wool-textile-material-background-white-crochet-cotton-fabric-woven-canvas-texture-close-up-400-245856181.jpg'); padding: 0%;">
            <div class="row">
                <div class="col col-lg-1">
                    <div></div>
                </div>

                <div class="col col-lg-10">
                    <div class="jumbotron ourjumbo" style="background:transparent;">
                        <div>
                            <center>
                                <p class="our" style="padding: 0%;">Our Stalls</p>
                            </center>
                        </div>
                    </div>
                    <div>
                        <center>
                            <p class="chngtopop projectsp" style="max-width: fit-content;">All the stalls were a great
                                success in increasing the awareness about dying arts of India and the vulnerable
                                communities.
                        </center>
                        </p>
                    </div>
                </div>

                <div class="col col-lg-1">
                    <div></div>
                </div>
            </div>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <div class="card-group">
                            <div class="card">
                                <img src="/Assets/crousel/crousel-1.jpg" height="288px" width="216px"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="card-group">
                            <div class="card">
                                <img src="/Assets/crousel/crousel-2.jpg" height="288px" width="216px"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="card-group">
                            <div class="card">
                                <img src="/Assets/crousel/crousel-3.jpg" height="288px" width="216px"
                                    class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev" style="background-color: transparent; border: none;">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="border: 3px solid black;"></span>
                    <span class="visually-hidden" style="color: black;"><b>Previous</b></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next" style="background-color: transparent; border: none;">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="border: 3px solid black;"></span>
                    <span class="visually-hidden" style="color: black;"><b>Next</b></span>
                </button>
            </div>
            <!-- <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81qUnSeAOdvIiIoHwrkow5eN6BBCmD3TowzYG19Ce5grfQTgQfLbYby09zm3gczsU9HBNVHe4mK0c_fOBmQXOy1XZkzkhQ=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81qS4989CaO-Of5DdIrU5XfBEnqSVRMSmc_93Az4kWMwfJ0dweqNmov6BCSd0qFcTMBj_Fzt_w89Vdxl4p3b-SbanUq4RA=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81qCnRrivF3lPTZiD_mBmjgBEzYMhnhU1LsXQcN_vT0EMB8l2nN6nsJybIBYBc-gStDsPM1pfD-eQ6q8BZDCNc77GwwvEQ=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81oqsCMTwET0_AcbvMhcv1uE9SkOCJHDRlVV6LM5p4Zv2AFUGdOB1_pUUPvX4tQcOoCNCA9kyDfx4-EHLc7cS2b98n0S=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81rM4Flzxb-dezDWk4gHZrCnHNzbXsAkNzEyemNUd91I21w2IsIQHB8qgzqTnkVL-wAP9JhZtLlZT2DOsNYOGox0Um-4fw=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81o5KIpkGNOicT9IlgxsA_Ueui0Og07wV_A01gvM_DzjrSDc6PMdKaix82K181TKpQniOA2CnD6D-Nps8lTkU65Y3u-u=s1600" height="100%" width="100%" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
                </div>
            </div>
        </div> -->

            <div>
                <center>
                    <h5 style="padding-top: 2%;padding-bottom: 3%;"><b>All the stalls were a great success in increasing
                            the awareness about dying arts of India and the vulnerable communities.</h5>
                </center>
            </div>
        </div>
        <!-- our stalls end -->


        <!-- team section -->
        <!-- <div id="ourteam" class="container-fluid setheightfit" style="background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');">
        
        <div class="row">
            <div class="col col-lg-3">
                    <div></div>
            </div>
                
            <div class="col col-lg-6">
                    <div class="jumbotron ourjumbo" style="background:transparent">
                        <div><center>
                            <p class="our">Our Team</p></center>
                        </div>
                    </div>
                    <center>
                    <p class="chngtopop projectsp"></p></center>
            </div>
        
            <div class="col col-lg-3">
                    <div></div>
            </div>
        </div>

        <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../public/Assets/img-1.jpg">
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3 class="title">Williamson</h3>
                                    <span class="post">Web Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
             
                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../public/Assets/img-2.jpg">
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3 class="title">Kristiana</h3>
                                    <span class="post">Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../public/Assets/img-3.jpg">
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3 class="title">Steve Thomas</h3>
                                    <span class="post">Web Developer</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="../public/Assets/img-4.jpg">
                                <ul class="social">
                                    <li><a href="#" class="fab fa-facebook"></a></li>
                                    <li><a href="#" class="fab fa-twitter"></a></li>
                                    <li><a href="#" class="fab fa-google-plus"></a></li>
                                    <li><a href="#" class="fab fa-linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="team-content">
                                <div class="team-info">
                                    <h3 class="title">Miranda joy</h3>
                                    <span class="post">Web Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
       
    </div> -->
        <!-- team section ends -->


        <!-- gallery section -->
        <div id="gallery" class="container-fluid setheightfit"
            style="background-image: url('/Assets/collage-general.png');opacity: 0.8;">
            <div class="row" style="text-align: center;">
                <div class="col col-lg-12 jumbotron ourjumbo" style="background:transparent;padding-top: 0%;">
                    <div>
                        <h3>
                            <p class="our" style="opacity: 2;color: black;"><b>Our Gallery</b></p>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- gallery section ends -->


        <!-- insta-feed -->
        <div style="background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');"
            class="elfsight-app-400962f9-f881-4b55-b825-b7c8bae37c29"></div>
        <!-- insta-feed end -->

        <!-- whatsapp chat -->
        <a href="https://wa.me/918851632662" class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <!-- whatsapp chat ends-->

        <!-- footer section -->
        <%- include("partials/footer.ejs") %>
            <!-- footer scetion end -->


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    </body>

    </html>