<%- include("partials/header.ejs") %>

    <body style="overflow-x: hidden; overflow-y:scroll;">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(47,46,46);">
            <div class="container-fluid">
                <a class="navbar-brand d-lg-none" href="#home" onclick="window.location.reload(true);"><img
                        src="/Assets/enactus-kmv-logo-white-removebg.png" width="100px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#myNavbarToggler7" aria-controls="myNavbarToggler7" aria-expanded="false"
                    aria-label="Toggle navigation" style="background-color: rgb(61, 60, 60);">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNavbarToggler7">
                    <ul class="navbar-nav mx-auto" style="padding-right: 3%;">

                        <li class="nav-item">
                            <a class="nav-link " style="color:#FFFFFF" href="/" id="homenav">HOME</a>
                        </li>

                        <div class="btn-group">
                            <li class="nav-item ">
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                                        style="color:#FFFFFF" href="#" id="ourstorynav" aria-expanded="false">OUR
                                        PROJECTS</a>
                                    <ul class="dropdown-menu" aria-labelledby="ourstorynav">
                                        <li><a class="dropdown-item" href="/pehel">Project Pehel</a></li>
                                        <li><a class="dropdown-item" href="/sahaayta">Project Sahaayta</a></li>
                                    </ul>
                                </div>
                            </li>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" style="color:#FFFFFF" href="#ourcommunity" id="achievementsnav">OUR
                                COMMUNITY</a>
                        </li>

                        <a class="d-none d-lg-block logo" href="#home" onclick="window.location.reload(true);"
                            style="padding-left:0; margin:0px;"><img src="/Assets/enactus-kmv-logo-white-removebg.png"
                                width="100px"></a>

                        <!-- <li class="nav-item">
                    <a class="nav-link" style="color:#FFFFFF" href="#ourteam" id="ourprojectsnav">OUR TEAM</a>
                </li> -->

                        <li class="nav-item">
                            <a class="nav-link" style="color:#FFFFFF" href="#gallery" id="eventsnav">GALLERY</a>
                        </li>

                        <li>
                            <a class="nav-link" style="color:#FFFFFF" href="#footer-contact" id="contactnav">CONTACT</a>
                        </li>

                        <li class="nav-item nationals-item">
                            <a class="nav-link nationals-link" style="color:#262626"
                                href="https://linktr.ee/enactus.kmv?fbclid=PAAaaNejiZ17t7jKyiIxkF-H0GXDxVfOEafQBIG1lfT5f7akgc8KxFnW3l9Hs">NATIONALS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- navbar ends -->

        <!-- sahaayta section -->
        <div class="row" id="sahaayta" style="background-color:#fec61b">

            <div class="col-lg-6 col-md-6 col-sm-6"
                style="padding-top: 12%; background-color: #B35600;display: flex;align-items: center;justify-content: center;padding-top: 0%;">
                <div>
                    <center>
                        <div style="align-items: center;">
                            <img src="/Assets/1.png" class="mehsoos_logo" style="padding-right: 25%;">
                        </div>
                    </center>
                </div>
            </div>

            <div class="col-lg-6 projectscard col-md-6 col-sm-6" style="margin: 0%;padding-top: 10%;">
                <div class="jumbotron ourjumbo" style="background-color:#fec61b; padding: 0%;">
                    <div>
                        <center>
                            <p class="our" style="padding-top: 0%;padding-bottom: 0%;">PROJECT SAHAAYTA</p>
                        </center>
                    </div>
                </div>
                <center>
                    <p class="chngtopop projectsp">Enactus KMV's Project Sahaayta revitalizes
                        <strong>Indian pottery and Kathputli crafts</strong>, ensuring artisans gain direct market
                        access,
                        fair pricing, and
                        visibility. The initiative advocates for <strong>transparent pricing and fair trade, eliminating
                            exploitation, and empowers artisans</strong> through capacity-building and financial
                        literacy
                        programs. By
                        preserving cultural heritage and empowering artisans economically, Project Sahaayta contributes
                        to
                        the sustainability and resurgence of these <strong>cherished artistic traditions in
                            India</strong>
                    </p>
                </center>
                <center><a class="btn btn-outline-danger btn-lg" href="https://www.instagram.com/projectsahaayta/"
                        role="button" target="_blank">EXPLORE <i class="fa-brands fa-instagram fa-bounce"> </i></a>
                </center>
                <br>
                <br>
                <!-- <center><blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/CazYDDhJiBn/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/reel/CazYDDhJiBn/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/reel/CazYDDhJiBn/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Project Sahaayta (@projectsahaayta)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script></center> -->
            </div>

        </div>
        <!-- sahaayuta section end -->

        <!-- saahayta sdg -->
        <div class="row">
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-1.png" alt="" width="100%">
            </div>
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-2.png" alt="" width="100%">
            </div>
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-3.png" alt="" width="100%">
            </div>
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-4.png" alt="" width="100%">
            </div>
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-5.png" alt="" width="100%">
            </div>
            <div class="col col-lg-2" style="padding: 0%;"><img src="/Assets/sahaayta-sdg-6.png" alt="" width="100%">
            </div>
        </div>
        <!-- saahayta sdg end -->

        <!-- Our community -->
        <div id="ourcommunity" class="container-fluid setheightfit"
            style="background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');">
            <!-- projects sub-section -->
            <div style="display: flex; justify-content: space-between;">

                <!-- First Column -->
                <div style="flex-basis: 20%; padding: 0px;">
                    <img src="/Assets/project bg 1.jpg" alt="First Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 2.jpg" alt="Second Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 4.jpg" alt="Second Photo" style="width: 100%;">
                </div>

                <!-- Second Column -->
                <div
                    style="flex-basis: 60%; text-align: center; padding-top:3%;padding-bottom: 1%; display: flex; align-items: center; flex-direction: column;">
                    <p class="chngtopop " style="margin-left: 5%;margin-right: 5%;"><strong>Project Sahaayta aims to
                            empower them by offering sustainable livelihoods and using puppetry to convey vital
                            messages.
                            Our pottery community is a dynamic group of artisans, blending tradition with innovation to
                            create
                            unique pieces.</strong> Through Project Sahaayta, we support their growth and provide a
                        platform for their
                        talent to shine, ensuring the sustainability of this cherished craft. The <strong><u>KATHPUTLI
                                COMMUNITY</u></strong> comprises skilled traditional puppeteers and
                        artists, facing challenges like seasonal work and limited education.
                        At the heart of Project Sahaayta lies a <strong>commitment to providing sustainable livelihoods
                            for the
                            Kathputli artists.</strong> By offering training, skill development programs, and access to
                        markets, the
                        project seeks to create pathways for economic stability and growth within the community. Through
                        these initiatives, artisans can enhance their craftsmanship, explore new techniques, and
                        <strong>expand
                            their repertoire beyond traditional puppetry, thereby increasing their earning potential and
                            financial independence.</strong>
                        However, Project Sahaayta goes beyond merely addressing economic challenges. It recognizes the
                        cultural significance of puppetry as a powerful medium for storytelling and communication.
                    </p>
                    <p class="our" style="opacity: 1;color: black; padding-top: 0%;padding-bottom: 0%;"><strong>OUR
                            COMMUNITY</strong></p>
                    <p class="chngtopop" style="margin-left: 5%;margin-right: 5%;">
                        Leveraging this unique art form, the project endeavors to convey vital messages on various
                        social
                        issues, including health, education, and environmental conservation. By harnessing the
                        captivating
                        allure of puppet performances, Project Sahaayta aims to raise awareness, stimulate dialogue, and
                        drive positive change within both the Kathputli community and the broader society.
                        Through Project Sahaayta, the <strong><u>POTTERY COMMUNITY</u></strong> receives essential
                        support
                        to overcome these
                        challenges and thrive. The project <strong>provides a platform for artisans to showcase their
                            talent,
                            connect with potential buyers, and access training and resources to enhance their
                            craft.</strong> By
                        fostering collaboration and exchange among artisans, Project Sahaayta encourages innovation and
                        creativity, ensuring the sustainability of this cherished craft for future generations.
                        Moreover, Project Sahaayta recognizes the significance of preserving cultural heritage in the
                        face
                        of modernization and globalization. By promoting traditional crafts such as pottery, the project
                        celebrates India's rich artistic legacy and fosters a sense of pride and identity within the
                        community.<strong> Through exhibitions, workshops, and cultural events, Project Sahaayta not
                            only showcases
                            the beauty of pottery but also educates the public about its cultural significance and
                            importance.</strong>
                    </p>
                </div>

                <!-- Third Column -->
                <div style="flex-basis: 20%; padding: 0px;">
                    <img src="/Assets/project bg 3.JPG" alt="First Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 4.jpg" alt="Second Photo" style="width: 100%; margin-bottom: 10px;">
                    <img src="/Assets/project bg 2.jpg" alt="Second Photo" style="width: 100%;">
                </div>

            </div>
        </div>
        <!-- Our community ends -->

        <!-- katputli -->
        <div id="katputli">
            <div class="row" id="sahaayta" style="padding-top: 1%;">
                <div class="col col-lg-2.5" style="padding: 0%; background-color: #fec61b;"></div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/katputli-1.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/katputli-2.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/katputli-3.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%; background-color: #B35600;"></div>
            </div>
            <div class="row" style="background-color:#fec61b">
                <div class="col-lg-6 projectscard col-md-6 col-sm-6" style="margin: 0%;padding-top: 5%;">
                    <div class="jumbotron ourjumbo" style="background-color:#fec61b; padding: 0%;">
                        <div>
                            <p class="chngtopop  " style="padding-left: 5%;padding-right: 4%;">
                                <strong>Origin of Katputli Show:</strong><br>
                                The Katputli show, rooted in ancient Indian traditions, finds its origin in the vibrant
                                cultural tapestry of Rajasthan.
                                <br><br>
                                <strong>Cultural Importance:</strong><br>
                                This traditional puppetry form serves as a cultural reservoir, presenting folk tales,
                                legends, and social messages, thereby preserving and enriching India's cultural
                                heritage.
                                <br><br>
                                <strong>Community Significance:</strong><br>
                                Katputli holds a special place in communities, acting as a powerful medium for
                                storytelling
                                and entertainment. It connects people with their cultural roots and fosters a sense of
                                identity.
                                <br><br>
                                <strong>Economic Empowerment:</strong><br>
                                The art of Katputli provides economic opportunities for artisans, often hailing from
                                marginalized backgrounds. By sustaining traditional crafts, it becomes a means of
                                livelihood
                                for these communities.
                                <br><br>
                                In essence, the Katputli show not only entertains but also contributes significantly to
                                the
                                socio-cultural and economic fabric of India.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6"
                    style="padding-top: 12%; background-color: #B35600;display: flex;align-items: center;justify-content: center;padding-top: 0%;">
                    <div>
                        <img src="/Assets/katputli_collage_bg.jpg" style="height: 100%;width: 100%;border-radius: 1%;">
                    </div>
                </div>
            </div>
        </div>
        <!-- katputli ends-->

        <!-- pottery -->
        <div id="katputli">
            <div class="row" id="sahaayta" style="padding-top: 1%;">
                <div class="col col-lg-2.5" style="padding: 0%; background-color: #b35600;"></div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/pottery-1.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/pottery-2.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%;"><img src="/Assets/pottery-3.jpg" alt="" width="100%">
                </div>
                <div class="col col-lg-2.5" style="padding: 0%; background-color: #fec61b;"></div>
            </div>
            <div class="row" id="sahaayta" style="background-color:#fec61b">
                <div class="col-lg-6 col-md-6 col-sm-6"
                    style="padding-top: 12%; background-color: #B35600;display: flex;align-items: center;justify-content: center;padding-top: 0%;">
                    <div>
                        <img src="/Assets/pottery_collage_bg.jpg" style="height: 100%;width: 100%;border-radius: 1%;">
                    </div>

                </div>
                <div class="col-lg-6 projectscard col-md-6 col-sm-6" style="margin: 0%;padding-top: 5%;">
                    <div class="jumbotron ourjumbo" style="background-color:#fec61b; padding: 0%;">
                        <div>
                            <p class="chngtopop  " style="padding-left: 5%;padding-right: 4%;">
                                <strong>Goal:</strong><br>
                                The main goal of the workshop is to provide empowerment , sustainability and cultural
                                preservation to underprivileged people.
                                <br><br>
                                <strong>Experience:</strong><br>
                                Promotes creativity, stress relief, and mindfulness as individuals engage in a
                                hands-on, therapeutic activity. Additionally, it fosters a sense of accomplishment as
                                participants create tangible, functional art. Also encourages social interaction and
                                community building.
                                <br><br>
                                <strong>Benefits:</strong><br>
                                Patience and Persistence,Functional Art,Social Interaction,Therapeutic Value,Skill
                                Development,Mindfulness,Creativity Boost,Stress Relief.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pottery ends-->

        <!-- insta-feed -->
        <div id="gallery">
            <div style="background-image: url('https://static.wixstatic.com/media/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png/v1/fill/w_274,h_402,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d97a3f_4eb3b10289714ede9e2be8660c208420~mv2.png');"
                class="elfsight-app-db85e8ae-c7cf-4c81-a6aa-cec506c09261" data-elfsight-app-lazy></div>
        </div>
        <!-- insta-feed end -->

        <!-- footer section -->
        <%- include("partials/footer.ejs") %>
            <!-- footer scetion end -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    </body>

    </html>